.navbar-brandFF { margin-left:180%;
margin-top:0% }

.container 
{
margin-top: 0.5%;
 background-color: #182733;
 color: #A5D2E9;
 max-width: 50%;
font-size: 130%;
}

.center 
{
margin: 0 auto;
width: 100%;
text-align: center;
}

body { font-size: medium; 
      background: url(images/333.png) no-repeat;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin: 0px;
      padding: 0px
      
    }

h1 { 
bgcolor: blue;
font-size: 25%; }


.back { width: 30%; }

.backk { background-color: #060A09 }

ul li a:hover {
background: #0FA8FA;}

h1:hover {  text-shadow: 0px 0px 12px rgba(0, 256, 0, 0.6); }

h2:hover {  text-shadow: 0px 0px 12px rgba(0, 256, 0, 0.6); }

.text { text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.9); }

.stext { text-shadow: 0px 0px 25px #F0AC1F; 
            text-shadow: 0px 0px 40px #F0AC1F;}

.shine {  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 
  border:1px solid #F0AC1F;
  border-radius: 20px;
}
 
.shine:hover {
  box-shadow: 0 0 155px #F0AC1F;
  border: 1px solid #F0AC1F;
transition: box-shadow 1s;
}

ul.dropdown-menu {  font-size: 90%; 
                                  text-decoration: none;
                                  border-top: 2px solid #007178;
                                  background: rgba(0, 0, 0, 0.5);
                                  }
.drop  { color: #FACE01 }
div.champ1:hover { color: red }
div.champ2:hover { color: #673AB7 }
div.champ3:hover { color: #FF6F00 }
div.champ4:hover { color: lime }

.da {  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 
  border:1px solid red;
  border-radius: 20px;
}
 
.da:hover {
  box-shadow: 0 0 155px red;
  border: 1px solid red;
transition: box-shadow 1s;
}

.daa {  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 
  border:1px solid #673AB7;
  border-radius: 20px;
}
 
.daa:hover {
  box-shadow: 0 0 155px #673AB7;
  border: 1px solid #673AB7;
transition: box-shadow 1s;
}

.ddd {  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 
  border:1px solid #FF6F00;
  border-radius: 20px;
}
 
.ddd:hover {
  box-shadow: 0 0 155px #FF6F00;
  border: 1px solid #FF6F00;
transition: box-shadow 1s;
}

.sup {  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 
  border:1px solid lime;
  border-radius: 20px;
}
 
.sup:hover {
  box-shadow: 0 0 155px lime;
  border: 1px solid lime;
transition: box-shadow 1s;
}